.accordion {
    $accordion: '.accordion';

    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $color-white;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        padding: 2.5rem;
        cursor: pointer;
        outline: none;

        &--active {
            #{ $accordion }__description {
                max-height: 100rem;
            }

            .icon-arrow-right {
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        width: 100%;

        .title {
            font-size: 2rem;
            line-height: 2.4rem;
            font-family: $font-lato-bold;
            color: $color-secondary;
            pointer-events: none;
        }

        .icon-arrow-right {
            margin-left: auto;

            svg {
                width: 1.2rem;
                height: 1rem;
                transition: all $transition;
            }
            pointer-events: none;
        }
    }

    &__item-icon {
        svg {
            width: 4.8rem;
            height: 4.8rem;
        }
        pointer-events: none;
    }

    &__description {
        max-height: 0;
        overflow: hidden;
        transition: max-height $transition;
    }
}
