.swiper {
    $swiper: &;

    &--hero {
        &#{ $swiper } {
            min-width: 300px;
            max-width: calc(500px + 5rem);
            width: 100%;
            height: auto;
            margin: 0;
            padding: 9.9rem 3rem 0 3rem;

            @include media-breakpoint-up(sm) {
                padding-left: 5rem;
            }

            @include media-breakpoint-up(xl) {
                padding: 2.9rem 0 0 0;
            }
        }
    }

    &__container {
        overflow-x: hidden;
    }

    &-slide {
        &--hero-swiper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 1.4rem;
        }

        &--no-opacity {
            opacity: 0 !important;
        }

        @include media-breakpoint-up(sm) {
            justify-content: flex-start;
        }

        &-active {
            opacity: 1 !important;
        }
    }

    &-review {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.2rem;
        padding-bottom: 6rem;

        &__header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.9rem;
        }

        &__title {
            font-size: 2.4rem;
            font-family: $font-bold;
        }

        &__description {
            text-align: left;
            font-size: 1.6rem;
            font-family: $font-light;
            line-height: 3.2rem;
            max-width: 40.8rem;
        }
    }

    &-button-prev,
    &-button-next {
        color: $color-secondary !important;
        z-index: 99;
        top: 95.5%;

        @include media-breakpoint-up(lg) {
            top: 93.5%;
        }

        &:after {
            transform: scale(0.4) !important;
            font-weight: bolder !important;
        }
    }

    &-button-prev {
        left: 30%;

        @include media-breakpoint-up(xl) {
            left: calc(5rem - 5px);
        }

        &--initial {
            left: 20%;
            right: auto;
        }
    }

    &-button-next {
        right: 30%;

        @include media-breakpoint-up(xl) {
            right: unset;
            left: 21.5rem;
        }

        &--initial {
            right: 20%;
            left: auto;
        }
    }

    &-pagination {
        $this: '.swiper-pagination';

        font-size: 1.4rem;
        font-family: $font-bold;

        @include media-breakpoint-up(xl) {
            transform: translateX(calc(-50% + 14rem));
            width: 3rem;
        }

        span {
            font-size: 1.4rem;
            font-family: $font-bold;
        }

        &--service-pagination,
        &--vision-cards-pagination {
            @include media-breakpoint-down(sm) {
                bottom: -3px;

                #{ $this }-bullet {
                    width: 0.6rem;
                    height: 0.6rem;
                    border-radius: 10rem;
                }

                #{ $this }-bullet-active {
                    width: 1.6rem;
                    height: 0.6rem;
                    background-color: #0cc0ff;
                    border-radius: 10rem;
                }
            }
        }

        &--vision-cards-pagination {
            bottom: -5rem !important;
        }
    }

    &--service-swiper {
        @include media-breakpoint-down(sm) {
            overflow: initial;
            padding-bottom: 5rem;
        }
    }
}
