.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 12rem;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.6rem;
    font-family: $font-bold;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    gap: 0.9rem;

    @include button-animation-border;

    &--rounded-border {
        border-radius: 6rem;
        padding: 1.5rem 10rem;
    }

    span {
        position: relative;
        transform: translateY(0.26rem);
    }
}
