.section {
    margin-top: 10rem;
    width: 100%;

    @include media-breakpoint-up(sm) {
        margin-top: 12rem;
    }

    &__container {
        width: 100%;
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 2rem;

        &--desktop-padding {
            @include media-breakpoint-up(sm) {
                padding: 8rem 5.9rem;
            }
        }

        &--bg-skyblue {
            @include media-breakpoint-up(sm) {
                background-color: #edfafd;
                border-radius: $border-radius;
            }
        }

        &--reduced-padding {
            @include media-breakpoint-down(sm) {
                padding: 0 1.5rem;
            }
        }

        &--overflow-hidden {
            @include media-breakpoint-down(sm) {
                overflow: hidden;
            }
        }
    }

    &__title {
        text-align: center;
        font-size: 2.8rem;
        font-family: $font-lato-bold;

        @include media-breakpoint-up(sm) {
            font-size: 4.8rem;
        }

        strong {
            font-size: 2.8rem;
            font-family: $font-lato-bold;

            @include media-breakpoint-up(sm) {
                font-size: 4.8rem;
            }
        }

        &--light {
            font-family: $font-lato-light;
        }

        @include media-breakpoint-down(sm) {
            &--aligned-left {
                text-align: left;
            }

            &--increased-padding-left {
                padding-left: 2rem;
            }

            &--yellow-pseudo-border-left {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 0.5rem;
                    height: 4.7rem;
                    background-color: #ffb800;
                    border-radius: 10rem;
                    transform: translateY(-50%);
                }
            }
        }

        &--yellow-pseudo-border-left-desktop {
            position: relative;
            margin-left: 2rem;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -2rem;
                width: 0.5rem;
                height: calc(100% - 2rem);
                background-color: #ffb800;
                border-radius: 10rem;
                transform: translateY(-50%);

                @include media-breakpoint-up(sm) {
                    height: calc(100% - 2.5rem);
                }
            }
        }

        &--increased-mobile-top-margin {
            @include media-breakpoint-down(sm) {
                margin-top: 7.5rem;
            }
        }
    }

    &__description {
        margin-top: 2rem;

        @include media-breakpoint-up(sm) {
            margin-top: 3rem;
        }

        &,
        p {
            text-align: center;
            font-size: 1.6rem;
            font-family: $font-light;
            line-height: 2.4rem;
            text-align: left;
            max-width: 68.2rem;
            margin-left: auto;
            margin-right: auto;

            @include media-breakpoint-up(sm) {
                line-height: 3.2rem;
                text-align: center;
            }
        }

        p:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__card-container {
        margin-top: 3rem;

        @include media-breakpoint-up(sm) {
            width: 100%;
            margin-top: 6rem;
            overflow: hidden;
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(auto-fill, minmax(35.5rem, 1fr));
        }
    }

    .mission {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 3rem;

        @include media-breakpoint-up(sm) {
            margin-top: 8.4rem;
        }

        @include media-breakpoint-up(xl) {
            gap: 7.9rem;
        }

        &__banner {
            max-width: 77.5rem;
            // overflow: hidden;
            border-radius: $border-radius;
            position: relative;

            &:before {
                content: '';
                width: 46.2rem;
                height: 56.3rem;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
                background-color: #ccf5ff;
                border-radius: $border-radius;

                @include media-breakpoint-up(xl) {
                    transform: translate(1rem, 6rem) rotateZ(-17deg);
                }
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-wrapper {
            position: absolute;
            bottom: 2rem;
            right: 2.4rem;
            z-index: 2;
            max-width: 50.6rem;
            width: calc(100% - 2.4rem);
            min-height: 29rem;
            padding-left: 2.4rem;
        }
    }
}
