$container-width: 125rem;

// Color variables
$color-primary: #33d9ff;
$color-secondary: #222d30;
$color-white: #fff;
$color-skyblue: #edfafd;

// Typography variables
$font-light: 'Mulish-Light', arial, helvetica, sans-serif;
$font-bold: 'Mulish-Bold', arial, helvetica, sans-serif;

$font-lato-light: 'Lato-Light', arial, helvetica, sans-serif;
$font-lato-bold: 'Lato-Bold', arial, helvetica, sans-serif;

// CSS property variables
$transition: 300ms cubic-bezier(0.77, 0.2, 0.05, 1);
$box-shadow: 0 0.4rem 2.5rem rgba(0, 0, 0, 0.15);
$border-radius: 2.5rem;
