* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

    // outline: 1px solid red !important;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px #fff inset;
        -webkit-box-shadow: 0 0 0 30px #fff inset;
    }

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    body {
        width: 100%;
        position: relative;
        margin: 0 auto;
        background-color: #ffffff;
        height: 100%;
        overflow-x: hidden;
    }
}

// Load utilities
// @import 'utils/bootstrap';
@import 'utils/fonts';
@import 'utils/variables';
@import 'utils/breakpoints';
@import 'utils/button-animation';
@import 'utils/spacing';
@import 'utils/visibility';

// Load SCSS components
@import 'components/navbar';
@import 'components/footer';
@import 'components/button';
@import 'components/hero';
@import 'components/swiper';
@import 'components/section';
@import 'components/feature';
@import 'components/card';
@import 'components/stepper';
@import 'components/form';
@import 'components/lottie';
@import 'components/thank-you';
@import 'components/pill';
